<app-navbar titulo="You are in ADMIN profile !"></app-navbar>
<div class="cajaFondo">
  <div class="cajaGeneral">
    <div class="dataOption">
      <div class="cajaOption">
        <div class="option">
          <p class="opt" routerLink="/adminProfile">Countries</p>
          <p class="opt" routerLink="/adminProfile/cities">Cities</p>
          <p class="opt" routerLink="/adminProfile/offices">Offices</p>
          <p class="opt" routerLink="/adminProfile/rooms">Rooms</p>
          <p class="opt" routerLink="/adminProfile/users">Users</p>
          <p class="opt" routerLink="/adminProfile/reservations">Reservations</p>
          <p class="thisOpt" routerLink="/adminProfile/administrators">Administrators</p>
        </div>
      </div>
    </div>
    <div class="cajaCRUD">
      <ul id="accordion">
        <li>
          <label class="accLabel" for="first">Add <span>&#x3e;</span></label>
          <input class="accInput" type="radio" name="accordion" id="first" checked />
          <div class="content">
            <div class="agrCol">
                <div class="agrupador agr2 agruAdd">
                  <label class="textLabel">Admin name: </label>
                  <input class="text" [(ngModel)]="adminName" type="text" name="adminName" id="adminName" />
                </div>
                <div class="agrupador agr2 agruAdd">
                  <label class="textLabel">Admin email: </label>
                  <input class="text" [(ngModel)]="adminEmail" type="text" name="adminEmail" id="adminEmail" />
                </div>
                <div class="agrupador agr2 agruAdd">
                  <label class="textLabel">Admin password: </label>
                  <input class="text" [(ngModel)]="adminPassword" type="text" name="adminPassword" id="adminPassword" />
                </div>
                <div class="agrupador agr2 agruAdd">
                  <label class="textLabel">Admin phone: </label>
                  <input class="text" [(ngModel)]="adminPhone" type="text" name="adminPhone" id="adminPhone" />
                </div>
              </div>
              <div class="agrupador agrCol bot">
                <input class="addButton butt" value="Add new administrator" (keydown.enter)="addAdmin()" (click)="addAdmin()" type="submit">
              </div>
            </div>
        </li>
        <li>
          <label class="accLabel" for="second">Get <span>&#x3e;</span></label>
          <input class="accInput" type="radio" name="accordion" id="second" checked />
          <div class="content">
            <div class="agrupador">
              <label class="textLabel">Search by id: </label>
              <input class="text" [(ngModel)]="adminId" type="text" name="adminId" id="adminId" />
            </div>
            <div class="agrupador agr2">
              <input class="getAdmin butt" value="Get admin by id" (keydown.enter)="getAdminById()" (click)="getAdminById()" type="submit">
              <input class="getButton butt" value="Get all" (click)="getAllAdmins()" type="button">
            </div>
          </div>
        </li>
        <li>
          <label class="accLabel" for="third">Update <span>&#x3e;</span></label>
          <input class="accInput" type="radio" name="accordion" id="third" checked />
          <div class="content">
            <div class="agrCol">
              <div class="agrupador agr2 agruAdd">
                <label class="textLabel">Admin id: </label>
                <input class="text" [(ngModel)]="adminId" type="text" name="adminId" id="adminId" />
              </div>
              <div class="agrupador agr2 agruAdd">
                <label class="textLabel">Admin name: </label>
                <input class="text" [(ngModel)]="adminName" type="text" name="adminName" id="adminName" />
              </div>
              <div class="agrupador agr2 agruAdd">
                <label class="textLabel">Admin password: </label>
                <input class="text" [(ngModel)]="adminPassword" type="text" name="adminPassword" id="adminPassword" />
              </div>
              <div class="agrupador agr2 agruAdd">
                <label class="textLabel">Admin phone: </label>
                <input class="text" [(ngModel)]="adminPhone" type="text" name="adminPhone" id="adminPhone" />
              </div>
            </div>
            <div class="agrupador agrCol bot">
              <input class="updateButton butt" value="Update admin" (click)="getAllAdmins()" type="submit">
            </div>
          </div>
        </li>
        <li>
          <label class="accLabel" for="fourth">Delete <span>&#x3e;</span></label>
          <input type="radio" name="accordion" id="fourth" checked />
          <div class="content">
            <div class="agrupador">
              <label class="textLabel">Admin id: </label>
              <input class="text" [(ngModel)]="adminId" type="text" name="adminId" id="adminId" />
            </div>
            <input class="deleteButton butt" value="Delete admin" (keydown.enter)="deleteAdmin()" (click)="deleteAdmin()" type="submit">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
