<app-navbar titulo="You are in ADMIN profile !"></app-navbar>
<div class="cajaFondo">
  <div class="cajaGeneral">
    <div class="dataOption">
      <div class="cajaOption">
        <div class="option">
          <p class="thisOpt" routerLink="/adminProfile">Countries</p>
          <p class="opt" routerLink="/adminProfile/cities">Cities</p>
          <p class="opt" routerLink="/adminProfile/offices">Offices</p>
          <p class="opt" routerLink="/adminProfile/rooms">Rooms</p>
          <p class="opt" routerLink="/adminProfile/users">Users</p>
          <p class="opt" routerLink="/adminProfile/reservations">Reservations</p>
          <p class="opt" routerLink="/adminProfile/administrators">Administrators</p>
        </div> 
      </div>
    </div>
    <div class="cajaCRUD">
      <ul id="accordion">
        <li>
          <label class="accLabel" for="first">Add <span>&#x3e;</span></label>
          <input class="accInput" type="radio" name="accordion" id="first" checked />
          <div class="content">
            <div class="box">
              <div class="agrupador">
                <label class="textLabel">Country name: </label>
                <input class="text" [(ngModel)]="countryName" type="text" name="countryName" id="countryName" />
              </div>
              <input class="addButton butt" value="Add new country" (keydown.enter)="addCountry()" (click)="addCountry()" type="submit">
            </div>
          </div>
</li>
        <li>
          <label class="accLabel" for="second">Get <span>&#x3e;</span></label>
          <input class="accInput" type="radio" name="accordion" id="second" checked />
          <div class="content">
            <div class="box">
              <div class="agrupador">
                <label class="textLabel">Search by id: </label>
                <input class="text" [(ngModel)]="countryId" type="text" name="countryId" id="countryId" />
              </div>
              <div class="agrupador agr2">
                <input class="getCountry butt" value="Get country by id" (keydown.enter)="getCountryById(countryId)" (click)="getCountryById(countryId)" type="submit">
                <input class="getCountry butt" value="Get all" (click)="getAllCountries()" type="button">
              </div>
            </div>
            <div *ngFor="let country of countries" class="resultDiv">
              <p class="result">Id: {{country.id}} Name: {{country.name}}</p>
            </div>
          </div>
</li>
        <li>
          <label class="accLabel" for="third">Update <span>&#x3e;</span></label>
          <input class="accInput" type="radio" name="accordion" id="third" checked />
          <div class="content">
            <div class="box">
              <div class="agrupador">
                <label class="textLabel">Country id: </label>
                <input class="text" [(ngModel)]="countryId" type="text" name="countryId" id="countryId" />
              </div>
              <div class="agrupador">
                <label class="textLabel">New name: </label>
                <input class="text" [(ngModel)]="countryName" type="text" name="countryName" id="countryName" />
              </div>
              <input class="updateButton butt" value="Update country" (click)="updateCountry()" type="submit">
            </div>
            <div *ngFor="let country of countries" class="resultDiv">
              <p class="result">Old country: id:{{oldCountry.id}} Name: {{oldCountry.name}}</p>
              <p class="result">New country: id: {{country.id}} Name: {{country.name}}</p>
            </div>
          </div>
          
        </li>
        <li>
          <label class="accLabel" for="fourth">Delete <span>&#x3e;</span></label>
          <input type="radio" name="accordion" id="fourth" checked />
          <div class="content">
            <div class="box">
              <div class="agrupador">
                <label class="textLabel">Country id: </label>
                <input class="text" [(ngModel)]="countryId" type="text" name="countryId" id="countryId" />
              </div>
              <input class="deleteButton butt" value="Delete country" (keydown.enter)="deleteCountry(countryId)" (click)="deleteCountry(countryId)" type="submit">
            </div>
            <div *ngFor="let country of countries" class="resultDiv">
              <p class="result">Deleted: id:{{country.id}} Name: {{country.name}}</p>
            </div>
          </div>
</li>
      </ul>
    </div>
  </div>
</div>
