#home {
    padding: 2rem 4rem;
    background-color: white;
    height: 70vh;
}

#home h3 {
    font-weight: bolder;
}
.superiorHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
.reservas {
    border: 1px solid black;
    width: 150px;
    background-color: white;
    height: 30px;
}
  .reservas:hover {
    background-color: #e8e8e8;
  }
/* ESTILO DE LA LISTA DE SALAS */
#roomList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;

}

#roomList .roomCard:nth-child(odd) {
    background-color: lightgray;
}

#roomList .roomCard:nth-child(even) {
    background-color: lightslategray;
}

/* ESTILO DE LAS TARJETAS DE LAS SALAS */
@media (max-width: 500px) {
    .roomCard {
        min-width: 200px;
        height: auto;

    }

    #roomList {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
}

/* @media () {

} */

.roomCard p{
    margin: 0;
    padding: 1rem 0 1rem 1rem;
    font-size: 20px;
    font-weight: bolder;
}

.roomCard img {
    width: 100%;
}

.roomCard {
    font-size: 2.5vw;
    width: 25%;
    height: 35%;
    margin-bottom: 40px;
}
