<app-navbar titulo="Hello, {{userName}}!"></app-navbar>
<div class="cajaFondo">
  <div class="container">
    <div class="izquierda">
      <div class="picture">
        <div class="imagen"><div class="img"></div></div>
        <button class="changePic" onlick="changeImage();">Change picture</button>
      </div>
      <div class="idioma">
        <div class="cajaIdioma">
          <p>Language</p>
          <select name="lang" class="lang">
            <option>English</option>
            <option>Español</option>
          </select>
        </div>
      </div>
    </div>
    <div class="derecha">
      <div class="cajaSave">
        <button class="save">Save Changes</button>
      </div>
      <div class="cajaDatos">
        <div class="name">
          <p>Full name</p>
          <input type="text" id="input" class="inputName" placeholder="{{userName}}">
        </div>
        <div class="email">
          <p>Current email</p>
          <input type="email" id="input" class="inputEmail" placeholder="benjamin.davis@example.com">
        </div>
        <div class="password">
          <p>Password</p>
          <input type="password" id="input" class="inputPassword" placeholder="***********">
        </div>
        <div class="phone">
          <p>Phone number</p>
          <input type="text" id="input" class="inputPhone" placeholder="+1(555)125-4567">
        </div>
      </div>
    </div>
  </div>
</div>
