* {
  font-family: 'Raleway', sans-serif;
}

.cajaFondo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  height: 70vh;
}
.container {
  display: flex;
  flex-direction: row;
  margin: 20px 60px;
}

.izquierda {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.picture {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px; /*pendiente ajustar espaciado*/
}

.imagen {
  display: flex;
  flex-direction: column;
}
.img {
  border: 1px dotted;
  margin: 10px;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-image: url(https://img.freepik.com/foto-gratis/disparo-al-aire-libre-joven-caucasico-barba-relajandose-al-aire-libre-rodeado-hermoso-entorno-montana-selva_273609-1855.jpg?w=1060&t=st=1689159663~exp=1689160263~hmac=a55e0a004d54c20ae45a15fb0a22517489d7285a0fde3b147f817d1a1a0f29f8); /*cambiar a variable que contenga la foto de cada user*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.changePic {
  width: 150px;
}

button {
  background-color: #ffff;
  border: 1px solid black;
  height: 28px;
  width: 80%;
}

  button:hover {
    background-color: #c4c4c4;
  }

.idioma {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%; /*comparte la otra mitad de la caja con .picture*/
}

p {
  margin: 0;
  padding: 10px 0px 5px 0px;
  font-weight: bold;
}

.lang {
  width: 150px;
}

select {
  background-color: #e8e8e8;
  border: none;
  height: 28px;
  width: 80%;
}

.derecha {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.cajaSave {
  display: flex;
  justify-content: right;
}

.save {
  margin: 5px 15px;
  width: 150px;
}

.cajaDatos {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 80%;
  padding-left: 50px;
  height: 80%;
}

  .cajaDatos div {
    height: 100%;
  }

input {
  background-color: #e8e8e8;
  border: none;
  height: 28px;
  width: 80%;
}

  input:focus {
    outline: 2px solid #836563;
  }

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .izquierda {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .picture {
    align-items: center;
    height: 70%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 0px 0px; /*pendiente ajustar espaciado*/
  }
  .changePic {
      display: none;
  }
  .derecha {
    width: 100%;
  }

  .cajaDatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    width: 100%;
  }

    .cajaDatos div {
      height: 100%;
      width: 70%;
    }

  input {
    background-color: #e8e8e8;
    border: none;
    height: 28px;
    width: 100%;
  }

  .idioma {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 70%;
    height: 50%; /*comparte la otra mitad de la caja con .picture*/
  }

  p {
    margin: 0;
    padding: 10px 0px 5px 0px;
  }

  .lang {
    width: 150px;
  }

  .cajaSave {
    order: 1;
    display: flex;
    justify-content: center;
  }

  .save {
    margin: 15px;
    width: 150px;
  }
}
