.container {
  background-color: #e8e8e8;
  height: 40vh;
  padding: 20px;
  width: 80vw;
}

.block {
  background-color: #ffffff;
  margin: 10px;
  padding: 20px;
  box-shadow: 3px 3px #C3cbcb;
}

p{
    margin: auto;
    font-size: large;
    font-weight: bolder;
    display: flex;
    align-content: center;
}
