<div id="navbar">
    <div id="menu">
        <div class="menuLeft">
            <p class="linkHome" routerLink="/home">acme</p>
        </div>
        <div class="menuRight">
            <a routerLink="/reservation" class="underline-animation">My Reservations</a>
            <a routerLink="/hello-user" class="underline-animation">My Account</a>
            <a routerLink="/login" class="underline-animation">Log out</a>
        </div>
    </div>
    <div id="title">
        <h3>{{titulo}}</h3>
    </div>
</div>
