#home {
  background-color: white;
  padding: 25px 38px 12px 38px;
  height: 70vh;
}

.superiorHome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

form {
  background: #fff;
  width: 350px;
  height: 30px;
  display: flex;
  border: 0.5px solid black;
}

  form input {
    flex: 1;
    border: none;
    outline: none;
    padding-left: 5px;
  }

  form button {
    background: #913831;
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  form .fa-search {
    align-self: center;
    padding-right: 10px;
  }



#container {
    display: flex;
    flex-direction: column;
}
#cajaPais {
    display: flex;
    flex-direction: column;
    padding: 25px 0px;
    justify-content: center;
}
/* ESTILO DE LA LISTA DE SALAS */
.pais {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pais:after {
    content: "";
    flex: 10 0 auto;
}
.pais #roomCard:nth-child(odd) {
  background-color: lightgray;
}

.pais #roomCard:nth-child(even) {
  background-color: lightslategray;
}

#roomCard p {
  margin: 0;
  padding: 1rem 0 1rem 1rem;
  font-size: 16px;
  font-weight: 300;
}

#roomCard img {
  width: 100%;
}

.pais #roomCard {
  font-size: 2.5vw;
  width: 22%;
  height: 32%;
}
#roomCard {
    position:relative;
}
/*Hover salas info*/
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000b3;
  overflow: hidden;
  width: 100%;
  height: 50px;
  transition: 0.8s ease;
  color: white;
}
#roomCard:hover .overlay {
  height: 100%;
}
