<app-navbar titulo="Hello, {{userName}}!"></app-navbar>
<div class="cajaFondo">
  <div class="container">
    <div class="izquierda">
      <div class="picture">
        <div class="imagen"><div class="img"><img src="https://img.freepik.com/foto-gratis/disparo-al-aire-libre-joven-caucasico-barba-relajandose-al-aire-libre-rodeado-hermoso-entorno-montana-selva_273609-1855.jpg?w=1060&t=st=1689159663~exp=1689160263~hmac=a55e0a004d54c20ae45a15fb0a22517489d7285a0fde3b147f817d1a1a0f29f8" width="500"></div></div>
        <!--<button class="changePic" onlick="changeImage();">Change picture</button>-->
      </div>
      <div class="idioma">
        <div class="cajaIdioma">
          <p>Language</p>
          <select name="lang" class="lang">
            <option>English</option>
          </select>
        </div>
      </div>
    </div>
    <div class="derecha">      
      <div class="cajaDatos">
        <div class="name">
          <p>Full name</p>
          <input type="text" id="input" class="inputName" value="{{userName}}">
        </div>
        <div class="email">
          <p>Current email</p>
          <input type="email" id="input" class="inputEmail" value="{{email}}">
        </div>
        <div class="password">
          <p>Password</p>
          <input type="password" id="input" class="inputPassword" placeholder="***********">
        </div>
        <div class="phone">
          <p>Phone number</p>
          <input type="text" id="input" class="inputPhone" placeholder="+1(555)125-4567">
        </div>
        <div class="cajaSave">
          <button class="save">Save Changes</button>
        </div>
      </div>

    </div>
  </div>
</div>
