<app-navbar titulo="Hello, {{userName}}!"></app-navbar>
<div class="cajaFondo">
  <div class="container">
    <div class="izquierda">
      <div class="cajaIzq">
        <div class="picture">
          <div class="imagen"><div class="img"><img src="https://cdn-icons-png.flaticon.com/512/1010/1010039.png" title="loro iconos" width="200"></div></div>
          <!--<button class="changePic" onlick="changeImage();">Change picture</button>-->
        </div>
        <div class="idioma">
          <div class="cajaIdioma">
            <p>Language</p>
            <select name="lang" class="lang">
              <option>English</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="derecha">
      
      <div class="cajaDatos">
        <div class="name">
          <p>Full name</p>
          <input type="text" id="input" class="inputName" [(ngModel)]="userName">          
            <i class='bx bx-edit'></i>
        </div>

        <div class="email">
          <p>Current email</p>
          <input type="email" id="input" class="inputEmail" value="{{email}}">
          <i class='bx bx-edit'></i>
        </div>

        <div class="password">
          <p>Password</p>
          <input type="password" id="input" class="inputPassword" placeholder="***********">
          <i class='bx bx-edit'></i>
        </div>

        <div class="phone">
          <p>Phone number</p>
          <input type="text" id="input" class="inputPhone" placeholder="+1(555)125-4567">
          <i class='bx bx-edit'></i>
        </div>

        <div class="cajaSave">
          <button (click)="modifyUser()" class="save">Save Changes</button>
        </div>
      </div>

    </div>
  </div>
</div>
