* {
  font-family: 'Raleway', sans-serif;
}
.cajaFondo {
    flex-direction: column;
    background-color: #ffffff;
    height: 70vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container {
  border: solid 1px black;
  margin: 20px 30px;
  padding: 2% 2%;
  position: static;
  display: flex;
  justify-content:center;
  align-items:center;
  width:60%;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.cajas {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin-bottom: 5px;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 5px 5px;
}

.subm {
  width: 150px;
  align-items: center;
}

.divSubmit {
  padding: 15px 0px 0px 0px;
}

p {
  margin: 0;
  font-size: 14px;
  color: rgb(79, 79, 79);
  font-weight: 1000;
  margin-bottom: 5px;
}

select {
  width: 200px;
  height: 28px;
  font-size: 14px;
  background-color: #e8e8e8;
  border: none;
}

  select:focus {
    outline: 1px solid black;
  }

input {
  background-color: #e8e8e8;
  border: none;
  height: 28px;
}

  input:focus {
    outline: 1px solid black;
  }

.submitReserve {
  border: 1px solid black;
  color: black;
  background-color:white;
  font-weight:bolder;
}

  .submitReserve:hover {
    background-color: #c4c4c4;
  }

/* pantallas pequeñas */
@media (max-width: 850px) {
  .container {
    margin: 20px 50px;
    padding: 15px 10px;
  }

  .cajas {
    display: flex;
    flex-direction: column;
  }
}
