* {
  font-family: 'Raleway', sans-serif;
}
.cajaFondo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.container {
  background-color: #d6d6d6;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: 40px 60px;
  padding: 30px 20px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.cajas {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  margin-bottom: 5px;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
}

.subm {
  width: 150px;
  align-items: center;
}

.divSubmit {
  padding: 15px 0px 0px 0px;
}

p {
  margin: 0;
  font-size: 14px;
  color: rgb(79, 79, 79);
}

select {
  width: 200px;
  height: 28px;
  font-size: 14px;
  background-color: #e8e8e8;
  border: none;
}

  select:focus {
    outline: 2px solid #836563;
  }

input {
  background-color: #e8e8e8;
  border: none;
  height: 28px;
}

  input:focus {
    outline: 2px solid #836563;
  }

.submitReserve {
  border: 1px solid;
}

  .submitReserve:hover {
    background-color: #c4c4c4;
  }

/* pantallas pequeñas */
@media (max-width: 850px) {
  .container {
    margin: 20px 50px;
    padding: 15px 10px;
  }

  .cajas {
    display: flex;
    flex-direction: column;
  }
}
