<div #pageContent>
  <app-navbar titulo="My reservations"></app-navbar>
  <div class="body">
    <div class="bla">
      <div class="container">
        <form>
          <i class="fas fa-search"></i>
          <input type="text" placeholder="Search by ID/City/Country">
          <button type="submit"> Search </button>
        </form>
        <a class="underline-animation" href="https://www.google.com/search"> Need help? </a>
      </div>
    </div>
    <p>ADIOSSS</p>
    <div *ngFor="let reservation of llistaReservas">
      <app-reserve-list [reservation]="reservation"></app-reserve-list>
      <p>aaHOLAAAAA</p>
    </div>
    <ng-template #noReserva>
      <div class="noReserva">
        <app-no-reserva></app-no-reserva>
        <p>XXXXXX</p>
      </div>
    </ng-template>
  
  </div>
</div>
