<div #pageContent>
  <app-navbar titulo="My reservations"></app-navbar>
  <div class="body">
    <div class="bla">
      <div class="container">
        <form>
          <i class="fas fa-search"></i>
          <input type="text" placeholder="Search by ID/City/Country">
          <button type="submit"> Search </button>
        </form>
        <a class="underline-animation" href="https://www.google.com/search"> Need help? </a>
      </div>
    </div>
    <div>
      <ng-container *ngFor="let reservation of llistaReservas">
        <app-reserve-list [reservation]="reservation"></app-reserve-list>
      </ng-container>
    </div>
    <div class="noReserva" *ngIf="showNoReserva">
      <app-no-reserva></app-no-reserva>
    </div>
  </div>
</div>
