<div class="overlay" *ngIf="showPopup">

  <div class="popup-content">

    <div class="imagen"></div>

    <div class="right">
      <div class="close">
        <div class="information">
          <p> Reservation Id: 8902</p>
          <P id="room"> Room Name </P>
          <p> Location, city, country </p>
        </div>
        <div class="bye">
          <button (click)="closePopup()"> X </button>
        </div>
      </div>


      <div class="center">

        <div class="centerDate">
          <label for="Date"> Date: </label>
          <input type="date" id="fecha" name="date">
        </div>

        <div class="centerTime">

          <div class="startTime">
            <label for="time"> Time: </label>
            <input type="time" id="tiempo" name="time">
          </div>

          <div class="endTime">
            <label for="time"> -- </label>
            <input type="time" id="tiempo" name="time">
          </div>
        </div> <!--CenterTime-->

      </div> <!--center-->

      <div class="last">
        <button (click)="closePopup()">Modify</button>
      </div> <!--last-->

    </div> <!--right-->
  </div> <!--PopUp cintent-->
</div> <!-- show PopUp-->
