.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 10%;
}

.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: self-start;
}

.changes {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.last {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-self: auto;
}
